
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}






.main {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
   
  }
  
  header {
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 4px;
   padding-top: 170px;

  }
  .icons {
    display: flex;
    gap: 1.5rem;
    
  }
  
  
  
  .text {
   font-size: 10px;
   color: hsl(237, 18%, 59%);
   text-align: center;
   letter-spacing: 2px;
   
  }
  
  
  .first {
  
    color: hsl(345, 95%, 68%);
    width: 100px;
    height: 50px;
    font-size: 55px;
    border-radius: 10px 10px 0 0;
    background: hsl(236, 21%, 26%);
    overflow: hidden;
    opacity: 0.7;
    text-align: center;
    line-height: 100px;
    position: relative;
  }
  

  .first::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }

  .first::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    position: absolute;
    bottom: -5px;
    left: -5px;
  }
  
  .second {
    position: relative;
    overflow: hidden;
    font-size: 55px;
    border-radius: 0 0 10px 10px;
    width: 100px;
    height: 50px;
    background: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
    text-align: center;
    line-height: 1px;
  }

  .second::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: -5px;
    right: -5px;
  }

  .second::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: -5px;
    left: -5px;
  }
  body {
    position: relative;
    background: hsl(234, 17%, 12%);
    color: white;
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    background-image: url("images/bg-stars.svg");
    width: 100vw;
  }


footer {
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background-image: url("images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: cover;
  place-content: center;
  align-items: center;
}

  
  
  
  img:hover svg {
   fill: hsl(345, 95%, 68%);
  }


  @media screen and (max-width: 375px) {

.first {
 
  max-width: 70px;
   height: 35px;
   line-height: 70px;
   font-size: 40px;
}
.second {
  max-width: 70px;
  height: 35px; 
font-size: 40px;
}
.main {
  width: min(90%, 1000px);
  gap: .5rem;
  
}
  }

  
 